<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Tienda Online</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/Usuario">Usuarios</a></li>
            <li><a href="/Unidad">Unidades</a></li>
        </ul>
    </div>
</nav>

